{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% trans_default_domain ea.i18n.translationDomain %}

<!DOCTYPE html>
<html lang="{{ ea.i18n.htmlLocale }}" dir="{{ ea.i18n.textDirection }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex, nofollow, noarchive, nosnippet, noodp, noimageindex, notranslate, nocache" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="generator" content="EasyAdmin" />

    <title>{% block page_title %}{{ block('content_title')|striptags|raw }}{% endblock %}</title>

    {% block head_stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/easyadmin/app.css') }}">
    {% endblock %}

    {% block configured_stylesheets %}
        {% for css_asset in ea.assets.cssFiles ?? [] %}
            <link rel="stylesheet" href="{{ asset(css_asset) }}">
        {% endfor %}
    {% endblock %}

    {% block head_favicon %}
        <link rel="shortcut icon" href="{{ asset(ea.dashboardFaviconPath) }}">
    {% endblock %}

    {% block head_javascript %}
        <script src="{{ asset('bundles/easyadmin/app.js') }}"></script>
    {% endblock head_javascript %}

    {% if 'rtl' == ea.i18n.textDirection %}
        <link rel="stylesheet" href="{{ asset('bundles/easyadmin/app.rtl.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/easyadmin/app-custom-rtl.css') }}">
    {% endif %}

    {% block configured_head_contents %}
        {% for htmlContent in ea.assets.headContents ?? [] %}
            {{ htmlContent|raw }}
        {% endfor %}
    {% endblock %}
</head>

{% block body %}
<body id="{% block body_id %}{% endblock %}" class="ea {% block body_class %}{% endblock %}">
    {% block javascript_page_layout %}
        <script>
            document.body.classList.add(
                'ea-content-width-' + (localStorage.getItem('ea/content/width') || '{{ ea.crud.contentWidth ?? ea.dashboardContentWidth ?? 'normal' }}'),
                'ea-sidebar-width-' + (localStorage.getItem('ea/sidebar/width') || '{{ ea.crud.sidebarWidth ?? ea.dashboardSidebarWidth ?? 'normal' }}')
            );
        </script>
    {% endblock javascript_page_layout %}

    {% block wrapper_wrapper %}
        {% block flash_messages %}
            {{ include(ea.templatePath('flash_messages')) }}
        {% endblock flash_messages %}

        <div class="wrapper">
            {% block wrapper %}
                <div class="page">
                    <aside class="navbar navbar-vertical navbar-expand-lg navbar-transparent">
                        <div class="container-fluid">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            {% block header_logo %}
                                <a class="navbar-brand navbar-brand-autodark logo {{ ea.dashboardTitle|length > 14 ? 'logo-long' }}" title="{{ ea.dashboardTitle|striptags }}" href="{{ path(ea.dashboardRouteName) }}">
                                    {{ ea.dashboardTitle|raw }}
                                </a>
                            {% endblock header_logo %}

                            <div class="navbar-nav flex-row d-lg-none">
                                <div class="nav-item dropdown d-none d-md-flex mr-3">
                                    <a href="#" class="nav-link px-0" data-toggle="dropdown" tabindex="-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6" /><path d="M9 17v1a3 3 0 0 0 6 0v-1" /></svg>
                                        <span class="badge bg-red"></span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-card">
                                        <div class="card">
                                            <div class="card-body">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad amet consectetur exercitationem fugiat in ipsa ipsum, natus odio quidem quod repudiandae sapiente. Amet debitis et magni maxime necessitatibus ullam.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-toggle="dropdown">
                                        <span class="avatar avatar-sm" style="background-image: url(./static/avatars/000m.jpg)"></span>
                                        <div class="d-none d-xl-block pl-2">
                                            <div>Paweł Kuna</div>
                                            <div class="mt-1 small text-muted">UI Designer</div>
                                        </div>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                        <a href="#" class="dropdown-item">Set status</a>
                                        <a href="#" class="dropdown-item">Profile & account</a>
                                        <a href="#" class="dropdown-item">Feedback</a>
                                        <div class="dropdown-divider"></div>
                                        <a href="#" class="dropdown-item">Settings</a>
                                        <a href="#" class="dropdown-item">Logout</a>
                                    </div>
                                </div>
                            </div>

                            {% block sidebar %}
                                <section class="sidebar">
                                    {% block main_menu_wrapper %}
                                        {{ include(ea.templatePath('main_menu')) }}
                                    {% endblock main_menu_wrapper %}
                                </section>
                            {% endblock sidebar %}
                        </div>
                    </aside>

                    <div class="content-wrapper">
                        {% block content %}
                            <div class="content">
                                <div class="container-xl">
                                    {% block content_header_wrapper %}
                                        <div class="page-header d-print-none">
                                        {% set has_help_message = (ea.crud.helpMessage ?? '') is not empty %}
                                        {% block content_header %}
                                            <div class="row align-items-center">
                                                <div class="col">
                                                    <h2 class="page-title">
                                                        {% block content_title %}{% endblock %}

                                                        {% block content_help %}
                                                            {% if has_help_message %}
                                                                <span class="content-header-help">
                                                                    <i class="far fa-question-circle" data-toggle="tooltip" title="{{ ea.crud.helpMessage|e('html_attr') }}"></i>
                                                                </span>
                                                            {% endif %}
                                                        {% endblock %}
                                                    </h2>
                                                </div>

                                                <div class="col-auto ml-auto d-print-none">
                                                    <div class="btn-list">
                                                        {% block page_actions_wrapper %}
                                                            <div class="page-actions">{% block page_actions %}{% endblock %}</div>
                                                        {% endblock %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endblock content_header %}
                                    </div>
                                    {% endblock content_header_wrapper %}

                                    <div id="main" class="row row-cards">
                                        {% block main %}{% endblock %}
                                    </div>
                                </div>

                                <footer class="footer footer-transparent d-print-none">
                                    <div class="container">
                                        {% block footer %}{% endblock %}
                                    </div>
                                </footer>
                            </div>
                        {% endblock content %}
                    </div>
                </div>
            {% endblock wrapper %}
        </div>
    {% endblock wrapper_wrapper %}

    {% block body_javascript %}{% endblock body_javascript %}

    {% block configured_javascripts %}
        {% for js_asset in ea.assets.jsFiles ?? [] %}
            <script src="{{ asset(js_asset) }}"></script>
        {% endfor %}
    {% endblock %}

    {% block configured_body_contents %}
        {% for htmlContent in ea.assets.bodyContents ?? [] %}
            {{ htmlContent|raw }}
        {% endfor %}
    {% endblock %}
</body>
{% endblock body %}
</html>
